@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  width: 350px;
  display: grid;
  grid-template-columns: repeat(6, 50px);
  gap: 10px;
}

.gap {
  gap: 10px;
}

@media only screen and (min-width: 767px) {
  .main-container {
    width: 750px;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    gap: 30px;
  }

  .gap {
    gap: 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .main-container {
    width: 1180px;
    display: grid;
    grid-template-columns: repeat(12, 80px);
    gap: 20px;
  }

  .gap {
    gap: 20px;
  }
}

@media only screen and (min-width: 1920px) {
  .main-container {
    width: 1530px;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    gap: 30px;
  }

  .gap {
    gap: 30px;
  }
}

body {
  background-color: #fffcf7;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url(/assets/fonts/YekanBakh-Medium.ttf);
}

@font-face {
  font-family: 'Yekan Bakh thin';
  src: url(/assets/fonts/YekanBakh-thin.ttf);
}

@font-face {
  font-family: 'Yekn Bakh bold';
  src: url(/assets/fonts/YekanBakh-Bold.ttf);
}

@font-face {
  font-family: 'Radin';
  src: url(/assets/fonts/RADIN3.TTF);
}

@font-face {
  font-family: 'Yekan Bakh Heavy';
  src: url('/assets/fonts/YekanBakh-Heavy.ttf');
}

@font-face {
  font-family: 'Yekan Bakh Regular';
  src: url('/assets/fonts/YekanBakh-Regular.ttf');
}

@font-face {
  font-family: ray;
  src: url('/assets/fonts/Ray.ttf');
}

@font-face {
  font-family: ray-black;
  src: url('/assets/fonts/Ray-Black.ttf');
}

@font-face {
  font-family: ray-bold;
  src: url('/assets/fonts/Ray-Bold.ttf');
}

@font-face {
  font-family: ray-extra-black;
  src: url('/assets/fonts/Ray-ExtraBlack.ttf');
}

@font-face {
  font-family: ray-extra-bold;
  src: url('/assets/fonts/Ray-ExtraBold.ttf');
}

@font-face {
  font-family: ray-medium;
  src: url('/assets/fonts/Ray-Mediu.ttf');
}

@font-face {
  font-family: ray-light;
  src: url('/assets/fonts/Ray-Light.ttf');
}

@font-face {
  font-family: pashto;
  src: url('/assets/fonts/pashto.ttf');
}

.font-pashto {
  font-family: pashto;
}

.font-common {
  font-family: Yekan Bakh;
}

.font-common-thin {
  font-family: Yekan Bakh thin;
}

.font-common-med {
  font-family: Yekan Bakh;
}

.font-common-lg {
  font-family: Yekn Bakh bold;
}

.font-common-heading2 {
  font-family: Yekn Bakh bold;
}

.font-common-heading {
  font-family: Radin;
}

.font-smallText {
  font-family: Yekan Bakh thin;
}

.font-smallTitle {
  font-family: Yekn Bakh bold;
}

.font-common-heavy {
  font-family: 'Yekan Bakh Heavy';
}

.font-common-regular {
  font-family: 'Yekan Bakh Regular';
}

.font-new {
  font-family: 'ray';
}

.font-new-black {
  font-family: 'ray-black';
}

.font-new-bold {
  font-family: 'ray-bold';
}

.font-new-extra-black {
  font-family: 'ray-extra-black';
}

.font-new-extra-bold {
  font-family: 'ray-extra-bold';
}

.font-new-medium {
  font-family: 'ray-medium';
}

.font-new-light {
  font-family: 'ray-light';
}
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
